<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37903037152-8omdl1ko6opg3ro9a8bjt7c3ju6idjsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37903037152-8omdl1ko6opg3ro9a8bjt7c3ju6idjsi</string>
	<key>API_KEY</key>
	<string>AIzaSyCqlAtYJXHNwaPnxA-rdQBiFTsFLbANRzo</string>
	<key>GCM_SENDER_ID</key>
	<string>37903037152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-7aa9d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-7aa9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37903037152:ios:f5a2e825f21a37cc659685</string>
</dict>
</plist>